---
import Navbar from "./Navbar.astro"
---



<header>
   <div class="bg-cover bg-center relative h-[400px]" style="background-image: url(/src/assets/img/hero-image.jpg); ">
    
    <Navbar/>
    <h1 class="text-white font-bold uppercase text-5xl text-center">Todo para tu fiesta</h1>
    
   
</div>
</header>