<nav class="bg-white/90 backdrop-blur-md border-b shadow-md p-1 m-auto flex justify-between items-center" >
  <img src="/src/assets/img/LOGO.png" alt="" class="w-28 mx-4 ">
  
  <button class=" p-3 mx-3 rounded-md  hover:bg-slate-100/90 fa-solid fa-bars">
    
      
</nav>